<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='*' Name='PauseCat' UpgradeCode='570a2736-2391-4c12-8e3d-74d32098d57d'
        Language='1033' Codepage='1252' Version='0.1.0' Manufacturer='0xarchit'>
        <Package Id='*' Keywords='Installer' Description='PauseCat Break Reminder'
            Comments='Lightweight break reminder for Windows' Manufacturer='0xarchit'
            InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

        <MajorUpgrade DowngradeErrorMessage='A newer version of [ProductName] is already installed.' />
        <Media Id='1' Cabinet='pausecat.cab' EmbedCab='yes' />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder'>
                <Directory Id='INSTALLDIR' Name='PauseCat'>
                    <Component Id='MainExecutable' Guid='a3b1c6d8-e4f2-4b34-8c7a-9d2e1b0c3d4f'>
                        <File Id='PauseCatEXE' Source='target\release\pausecat.exe' KeyPath='yes' Checksum='yes'>
                            <Shortcut Id='StartMenuShortcut' Directory='ProgramMenuDir' Name='PauseCat'
                                WorkingDirectory='INSTALLDIR' Icon='pauseCat.ico' IconIndex='0' Advertise='yes' />
                            <Shortcut Id='DesktopShortcut' Directory='DesktopFolder' Name='PauseCat'
                                WorkingDirectory='INSTALLDIR' Icon='pauseCat.ico' IconIndex='0' Advertise='yes' />
                        </File>
                    </Component>
                </Directory>
            </Directory>
            <Directory Id='ProgramMenuFolder' Name='Programs'>
                <Directory Id='ProgramMenuDir' Name='PauseCat'>
                    <Component Id='ProgramMenuShortcutComponent' Guid='b4c2d7e9-f5a3-4c45-9d8b-ae3f2c1d4e5g'>
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryValue Root='HKCU' Key='Software\0xarchit\PauseCat' Name='installed' Type='integer' Value='1' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id='DesktopFolder' Name='Desktop' />
        </Directory>

        <Feature Id='MainFeature' Title='PauseCat' Level='1'>
            <ComponentRef Id='MainExecutable' />
            <ComponentRef Id='ProgramMenuShortcutComponent' />
        </Feature>

        <Icon Id='pauseCat.ico' SourceFile='assets\pauseCat.ico' />
        <Property Id='ARPPRODUCTICON' Value='pauseCat.ico' />
    </Product>
</Wix>
